.app {
  background: #eee;
  padding-bottom: 0px;
}

.ui.comments .comment .content {
  font-size: 1.25rem;
}

.message-column {
  margin-left: 305px;
  padding-bottom: 0px !important;
}
.messages-panel {
  font-size: 1.5rem;
  height: 70vh;
  overflow-y: scroll;
}

.message-image {
  padding: 0.5rem;
}

.own {
  text-align: right !important;
}

.message-progress {
  margin: 0.2em 0 !important;
}

.messages-list {
  padding-bottom: 2rem;
}
