.app {
	background: #eee;
	padding-bottom: 0px;
}

.ui.comments .comment .content {
	font-size: 1.25rem;
}

.messageColumn {
	margin-left: 305px;
	padding-bottom: 0px !important;
}
.messagesPanel {
	height: 68vh;
	overflow-y: scroll;
}
