.app {
  background: #eee;
  padding-bottom: 0px;
}

/* App.js */
.message-column {
  margin-left: 305px;
  padding-bottom: 0px !important;
}

/* Messages.js */
.messages-panel {
  font-size: 1.5rem;
  height: 70vh;
  overflow-y: scroll;
}

/* Message.js */
.ui.comments .comment .content {
  font-size: 1.25rem;
}

.message-image {
  padding: 0.5rem;
}

.own {
  text-align: right !important;
}

/* GroupChats.js */
.messages-list {
  padding-bottom: 2rem;
}

/* ProgressBar.js */
.message-progress {
  margin: 0.2em 0 !important;
}

/* Placeholder for Messages Component */
.placeholder {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
}

.placeholder::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.placeholder-avatar {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: rgba(58, 57, 57, 0.3);
}

.placeholder-author {
  background-color: rgba(58, 57, 57, 0.3);
  width: 120px;
  height: 10px;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 0;
}

.placeholder-details {
  background-color: rgba(58, 57, 57, 0.3);
  height: 20px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  left: 40px;
  right: 20px;
}
